<H1>
	This is the secret page
</H1>
<img src="https://specials-images.forbesimg.com/imageserve/5d2509b44c687b00085c325f/960x0.jpg?fit=scale">
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>